.works {
    //background: radial-gradient(circle, #3a3a3f, #111);
    background-color: #3a3a3f;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    padding-top: 250px;

    .title {
        position: fixed;
        color: white;
        text-align: center;
        right: 20%;
        left: 20%;
        font-size: 60px;
        margin-bottom: 0px;
        animation-name: fadeInAnime;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
        p {
            margin-bottom: 0px;
        }
        .subtitle {
            color: white;
            text-align: center;
            font-size: 20px;
            opacity: 0.5;
        }
    }

    .timeline {
        // overflow: auto;
        background: #DBDBDB;
        box-shadow: 4px 5px 5px #000000;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 600px;
        margin-bottom: 50px;
        border-radius: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        .date {
            color: #454545;
        }
        .organization {
            display: flex;
            flex-direction: column;
            .position {
                margin-top: 5px;
                font-size: 15px;
            }
        }
        .description {
            position: relative;
            left: 10px;
            line-height: 30px;
            margin-top: 8px;
        }
    }
}
@media screen and (max-width: 1169px) {
    .works {
        .timeline {
           
            padding-top: 0px;
            .date {
                color: #3a3a3f;
            }
            
            .organization {
                
               
                .position {
                    margin-top: 5px;
                    font-size: 15px;
                }
            }
            .description {
                line-height: 30px;
                margin-top: 8px;
            }
        }
    }
}
@keyframes fadeInAnime {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
